---
layout: default
title: grschafer.com | Greg Schafer
---

<div id="home">
  <h1>All Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a> &raquo; <span>{{ post.categories | array_to_sentence_string }}</span></li>
      <!--<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a> &raquo; <span>{% for cat in post.categories %}{{cat}} {% endfor %}</span></li>-->
    {% endfor %}
  </ul>
</div>
