---
layout: default
title: Projects
subtitle: Things I've built
---

<div id="home">
  <h1>{{ page.title }}</h1>
  <p>{{ page.subtitle }}</p>
  <ul class="posts">
    {% for post in site.categories.projects %}
    <a href="{{ post.url }}">
    <li>
      <img src="{{ post.thumb }}" />
      <div>
        <p>{{ post.title }}</p>
        <small>{{ post.date | date_to_string }} &raquo;
        {% if post.tags.size > 5 %}
          {{ post.tags[0] }}, {{ post.tags[1] }}, {{ post.tags[2] }}, {{ post.tags[3] }}, {{ post.tags[4] }}, ...
        {% else %}
          {{ post.tags | join: ', ' }}
        {% endif %}
        </small>
      </div>
    </li>
    </a>
    {% endfor %}
  </ul>
</div>
