<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/theme/stylesheets/pygment_trac.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/theme/stylesheets/styles.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width">
        <style>
          body { font-size: 18px; }
          a small { font-size: 14px; }
          header p { margin-bottom: 4px; }
          header p.view small { padding-top: 2px; }
          footer ul { list-style: none; padding-left: 0; }
          footer a [class^="icon-"] { display: inline-block; width: 20px; }
        </style>
    </head>
    <body>
        <!-- Some format/style from atmos/atmos.github.io -->
        <div class="wrapper">
          <header>
            <h1><a href="/">{{ site.name }}</a></h1>
            <p class="view"><a href="/projects">Projects <small>Things I've built</small></a></p>
            <p class="view"><a href="/thoughts">Thoughts <small>What I'm thinking about</small></a></p>
            <p class="view"><a href="/guides">Guides <small>Code-related tutorials and guides</small></a></p>
            <p class="view"><a href="/hobbies">Hobbies <small>Gaming, sports, cooking, etc.</small></a></p>
          </header>
          <section>
            {{ content }}
          </section>
          <footer>
            <ul>
              <li>Greg Schafer</li>
              <li>Software Developer</li>
              <li>Colorado/Nebraska, USA</li>
              <li><a href="mailto:grschafer@gmail.com"><i class="icon-envelope"></i> Email</a></li>
              <li><a href="https://github.com/grschafer" target="tab"><i class="icon-github"></i> GitHub</a></li>
              <li><a href="https://twitter.com/grschafer" target="tab"><i class="icon-twitter"></i> Twitter</a></li>
              <li><a href="https://www.linkedin.com/in/grschafer" target="tab"><i class="icon-linkedin"></i> LinkedIn</a></li>
            </ul>
            <p><small>Hosted on <a href="http://pages.github.com">GitHub Pages</a> &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
          </footer>
        </div> <!-- /wrapper -->
        <script src="/theme/javascripts/scale.fix.js"></script>

    </body>
</html>
